@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    transition: transform .5s;

}
.buttoncommon {
    transition: transform .5s;

}
.button:hover {
    transform: scale(1.05);
    background: rgb(226, 155, 155);
    transition: background 0.5s ease;
}
.buttoncommon:hover {
    transform: scale(1.05);
    background: rgb(219, 225, 230);
    transition: background 0.5s ease;
}

.chat:hover{
    background: rgb(172, 186, 224);
    transition: background 0.5s ease;
}



@keyframes buttonanimation {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}


.shadowed {
    box-shadow: inset 5px 0 10px rgba(0, 0, 0, 0.5);
}

.font {
    font-family: 'Poppins', sans-serif;
}

input {
    outline: none;
}

.error {
    opacity: 0;
    animation: ani 5s forwards;
}

@keyframes ani {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.messages {
    background-color: #ddddf7;
    padding: 10px;
    overflow-y: auto;
}


.messages::-webkit-scrollbar {
    width: 0;
}

.shadowed1{
    box-shadow:inset 0 2px 10px rgba(0, 0, 0, 0.5);
}


.finduser{
    background: #dcebf3;

}
.finduser:hover{
    background: rgb(172, 186, 224);
    transition: background 0.5s ease;
}

.loader {
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; 
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.smooth {
    
    opacity: 0; /* Initially hidden */
    animation: fadeIn .5s ease-in-out forwards; /* Animation definition */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


dialog::backdrop{
    background:rgb(148, 172, 182);
    opacity: .7;
}