@tailwind base;
@tailwind components;
@tailwind utilities;


.button {
    transition: transform .5s;

}

.button:hover {
    transform: scale(1.05);
    background: rgb(226, 155, 155);
    transition: background 0.5s ease;
}

.chat:hover{
    background: rgb(172, 186, 224);
    transition: background 0.5s ease;
}



@keyframes buttonanimation {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}


.shadowed {
    box-shadow: inset 5px 0 10px rgba(0, 0, 0, 0.5);
}

.font {
    font-family: 'Poppins', sans-serif;
}

input {
    outline: none;
}

.error {
    opacity: 0;
    animation: ani 5s forwards;
}

@keyframes ani {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.messages {
    background-color: #ddddf7;
    padding: 10px;
    overflow-y: auto;
}


.messages::-webkit-scrollbar {
    width: 0;
}

.shadowed1{
    box-shadow:inset 0 2px 10px rgba(0, 0, 0, 0.5);
}


.finduser{
    background: #dcebf3;

}
.finduser:hover{
    background: rgb(172, 186, 224);
    transition: background 0.5s ease;
}

